div {
  background: whitesmoke;
}

nav {
  padding: 0.5em;
  direction: rtl;
}

a {
  margin: 1em;
  color: #737373;
  font-family: "Times New Roman", sans-serif;
  text-decoration-line: none;
  font-weight: bold;
  font-size: 1.5em;
}

footer {
  background: whitesmoke;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  position: fixed;
  bottom: 0;
}


