<div class="header">
  <form>
    <label>
      Desde
      <input type="date" name="searchBegin" [(ngModel)]="dateBegin">
    </label>
    <label>
      Hasta
      <input type="date" name="searchEnd" [(ngModel)]="dateEnd">
    </label>

    <input type="submit" value="Buscar" (click)="search()">
  </form>
</div>

<div class="body">
  <div class="element" *ngFor="let report of reportesFilter;">
    <img src="https://cdn1.iconfinder.com/data/icons/modifiers-add-on-1-1/48/Sed-24-512.png" alt="preview">
    <p>{{report.address}}</p>
    <p>{{pipe.transform(report.date, 'yyyy-MM-dd')}}</p>
    <img src="https://cdn1.iconfinder.com/data/icons/modifiers-add-on-1-1/48/Sed-24-512.png" alt="view" routerLink="view/{{report.id}}">
  </div>
</div>
