input {
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 15px;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  background-color: antiquewhite;
  padding: 0.5em;
}

.body {
  background-color: aquamarine;
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  width: 3em;
}

p {
  margin: 1em;
}
