<div class="m-4 shadow rounded">
  <div class="card border-0 p-2">
    <div class="row no-gutters">
      <div class="col-md-4 position-sticky border-dark">
        <div id="map"></div>
      </div>
      <div class="col-md-6 col-lg-8">
        <div class="card-body text-center h-100 d-flex flex-column justify-content-between">
          <h5 class="card-title">{{report.location_description}}</h5>
          <div>
            <h6 class="card-subtitle">{{report.description}}</h6>
          </div>
          <div class="card-footer bg-transparent border-0 mb-0">
            <button type="button" class="btn btn-primary btn-block" (click)="setAsFixed()" *ngIf="user !== null && !report.fixed">
              {{"REPORTS.SET_AS_FIXED" | translate}}
            </button>
            <p class="card-text text-medium" *ngIf="report.fixed">
              {{"REPORTS.IS_FIXED" | translate}}
            </p>
            <button type="button" class="btn btn-outline-primary btn-block" (click)="open(picture)"
                    *ngIf="report.picture !== ''">
              {{"REPORTS.VIEW_PICTURE" | translate}}
            </button>
            <p class="card-text mt-2">
              <small class="text-muted">{{report.date | date}}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #picture let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="title">{{"REPORTS.PICTURE_VIEW" | translate}}</h6>
    <button type="button" class="close text-danger" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="{{report.picture}}" alt="thumbnail" class="img-thumbnail">
  </div>
</ng-template>
