<div class="m-4">
  <div class="card border-dark p-2">
    <div class="row no-gutters">
      <div class="col-md-4 position-sticky">
        <div id="map"></div>
      </div>
      <div class="col-md-6 col-lg-8">
        <div class="card-body text-center h-100 d-flex flex-column justify-content-between">
          <h5 class="card-title">Pascual de los santos #4</h5>
          <div>
            <h6 class="card-subtitle">Comentario</h6>
          </div>
          <div class="card-footer bg-transparent border-0 mb-0">
            <a href="#" class="card-link">Review</a>
            <a href="#" class="card-link">View Picture</a>
            <p class="card-text mt-2">
              <small class="text-muted">20 de abril del 2020</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
