<div class="position-relative overflow-hidden p-3 p-md-5 m-3 text-center rounded back-img">
  <div class="col-md-5 text-light p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Road Watchman</h1>
    <p class="lead font-weight-normal">View uploaded reports from all users</p>
    <a class="btn btn-outline-primary" routerLink="/pages/reports">View Reports</a>
  </div>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-3 text-center rounded bg-light">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Download the app</h2>
      <p class="lead">Start sending reports now</p>
      <a class="btn btn-primary" href="#">Download now</a>
    </div>
    <div class="bg-light box-shadow mx-auto" style="height: 5rem;">
    </div>
  </div>

  <div class="product-device box-shadow d-none d-md-block"><!--Image from app--></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"><!--Image from app--></div>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-3 text-center rounded bg-light">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5"><a routerLink="/authentication" class="card-link">Log In</a></h2>
      <p class="lead">View and edit the reports</p>
    </div>
  </div>
</div>
