.back-img {
  background: url("src/assets/images/main.png ") no-repeat;
  background-size: 100% 100%;
}

.font-size-title {
  font-size: 1.5em;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -25%;
  left: auto;
  width: 18rem;
  height: 30rem;
  background-color: var(--color-primary);
  border-radius: 21px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  left: 10%;
  background-color: var(--color-secondary);
}

.btn-primary {
  background-color: var(--color-primary);
  border: 0;
}

.btn-primary:hover {
  background-color: var(--color-primary-light);
}

.card-link {
  color: var(--dark);
}

.card-link:hover {
  color: var(--color-primary-light);
}
