.back-img {
  background-image: url("src/assets/images/main.png ");
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -25%;
  left: auto;
  width: 18rem;
  height: 30rem;
  background-color: var(--color-primary);
  border-radius: 21px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  left: 10%;
  background-color: var(--color-secondary);
}

.btn-outline-primary {
  color: var(--light);
  border: 0;
}

.btn-outline-primary:hover {
  color: inherit;
  background-color: transparent;
  border: solid 2px var(--light);
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: transparent;
  border: inherit;
}

.btn-primary {
  background-color: var(--color-primary);
  border: 0;
}

.btn-primary:hover {
  background-color: var(--color-primary-light);
}

.card-link {
  color: var(--dark);
}

.card-link:hover {
  color: var(--color-primary-light);
}
