.img-custom {
  max-width: 20%;
  min-width: 10%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  height: 75vh;
}

.btn-primary {
  background-color: var(--color-primary);
  border: 0;
}

.btn-primary:hover {
  background-color: var(--color-primary-light);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--color-primary-light);
  border: inherit;
}
