<header>
  <div class="logo-container">
    <h1>
      <a routerLink="pages">
        <span>Road Watchman</span>
      </a>
    </h1>
  </div>
  <nav>
    <a routerLink="pages" (click)="select('home')" [class.selected]="selected === 'home'">Home</a>
    <a routerLink="authentication" (click)="select('login')" [class.selected]="selected == 'login'" *ngIf="user === null">Login</a>
    <p class="link" (click)="logout()" *ngIf="user !== null">Logout</p>
  </nav>
</header>

<div class="header-fixed-placeholder"></div>
